.elementor-264 .elementor-element.elementor-element-010aba0 {text-align: center;}
.elementor-264 .elementor-element.elementor-element-010aba0.elementor-widget-heading .elementor-heading-title {color: #000;}
.elementor-264 .elementor-element.elementor-element-2a62215 {--divider-border-style: solid;--divider-border-color: #000;--divider-border-width: 1px;}
.elementor-264 .elementor-element.elementor-element-2a62215 .elementor-divider-separator {width: 100%;}
.elementor-264 .elementor-element.elementor-element-2a62215 .elementor-divider {padding-top: 5px;padding-bottom: 5px;}
.elementor-264 .elementor-element.elementor-element-983b574 .elementor-spacer-inner {height: 50px;}
.elementor-264 .elementor-element.elementor-element-e1a944b {--divider-border-style: solid;--divider-border-color: #000;--divider-border-width: 1px;}
.elementor-264 .elementor-element.elementor-element-e1a944b .elementor-divider-separator {width: 100%;}
.elementor-264 .elementor-element.elementor-element-e1a944b .elementor-divider {padding-top: 5px;padding-bottom: 5px;}
body.elementor-page-264 h1.entry-title, .elementor-page-title {display: none;}