.elementor-10 .elementor-element.elementor-element-479106c {text-align: center;}
.elementor-10 .elementor-element.elementor-element-479106c.elementor-widget-heading .elementor-heading-title {color: #000;}
.elementor-10 .elementor-element.elementor-element-482416b {--divider-border-style: solid;--divider-border-color: #000;--divider-border-width: 1px;}
.elementor-10 .elementor-element.elementor-element-482416b .elementor-divider-separator {width: 100%;}
.elementor-10 .elementor-element.elementor-element-482416b .elementor-divider {padding-top: 5px;padding-bottom: 5px;}
body.elementor-page-10 h1.entry-title, .elementor-page-title {display: none;}